<div class="menu shadow">
    <!-- <a class="" class="p-3 btns text-center">
        <img src="./assets/img/valeturno.png" class="" width="100px" alt="" style="border-radius: 5px 5px;">
    </a> -->
    <a routerLink="/dashboard" [ngClass]="page==='dashboard'?'selected':''" class="p-3 btns text-center">
        <img src="./assets/img/home.png" width="50px" alt="">
        <b class="text-white d-block">Dashboard</b>
    </a>
    <a routerLink="/entities" *ngIf="role==='super_admin'" [ngClass]="page==='dashboard'?'selected':''" class="p-3 btns text-center">
        <img src="./assets/img/entities.png" width="50px" alt="">
        <b class="text-white d-block">Entidades</b>
    </a>
    <a routerLink="/areas" *ngIf="role==='super_admin' || role==='admin'" [ngClass]="page==='areas'?'selected':''" class="p-3 btns text-center">
        <img src="./assets/img/areas.png" width="50px" alt="">
        <b class="text-white d-block">Areas</b>
    </a>
    <a routerLink="/services" *ngIf="role==='super_admin' || role==='admin'" [ngClass]="page==='dashboard'?'selected':''" class="p-3 btns text-center">
        <img src="./assets/img/service.png" width="50px" alt="">
        <b class="text-white d-block">Servicios</b>
    </a>
    <a routerLink="/rooms" *ngIf="role==='super_admin' || role==='admin'" [ngClass]="page==='rooms'?'selected':''" class="p-3 btns text-center">
        <img src="./assets/img/rooms.png" width="50px" alt="">
        <b class="text-white d-block">Salas</b>
    </a>
    <!-- <a routerLink="/screen" [ngClass]="page==='dashboard'?'selected':''" class="p-3 btns text-center">
        <img src="./assets/img/tv.png" width="50px" alt="">
        <b class="text-white d-block">Pantalla</b>
    </a> -->
    <a routerLink="/turns" *ngIf="role==='super_admin' || role==='admin'" [ngClass]="page==='dashboard'?'selected':''" class="p-3 btns text-center">
        <img src="./assets/img/terminal.png" width="50px" alt="">
        <b class="text-white d-block">Turnos</b>
    </a>
    <a routerLink="/patients" [ngClass]="page==='patients'?'selected':''" class="p-3 btns text-center">
        <img src="./assets/img/clients.png" width="50px" alt="">
        <b class="text-white d-block">Pacientes</b>
    </a>
    <a routerLink="/users" *ngIf="role==='super_admin' || role==='admin'" [ngClass]="page==='dashboard'?'selected':''" class="p-3 btns text-center">
        <img src="./assets/img/users.png" width="50px" alt="">
        <b class="text-white d-block">Empleados</b>
    </a>
    <a data-bs-toggle="modal" data-bs-target="#changePassword" [ngClass]="page==='dashboard'?'selected':''" class="p-3 btns text-center" style="cursor: pointer;">
        <img src="./assets/img/settings.png" width="50px" alt="">
        <b class="text-white d-block">Configuracion</b>
    </a>
    <a (click)="salir()" class="p-3 btns text-center">
        <img src="./assets/img/exit.png" width="50px" alt="" style="cursor: pointer;">
        <b class="text-white d-block">Salir</b>
    </a>
</div>

<app-modal-password></app-modal-password>
<!-- </div> -->