<div class="row justify-content-end without-borders d-none d-lg-flex d-md-flex">

    <app-submenu [page]="'dashboard'"></app-submenu>

    <div class="col-lg-10 col-md-10 col-sm-10">
        <div class="container bg-white pt-3">
            <h3>Dashboard</h3>
            <div class="alert alert-info" role="alert">
                <h3 class="text-secondary">Hola, {{name}}</h3>
                <h6>Aqui podras ver el total de todos los avances que tienes por el momento.</h6>
            </div>

            <div class="row">
                <div class="col-3 text-center p-2">
                    <div class="alert alert-secondary" role="alert">
                        <h2 class="text-secondary">{{ documents }}</h2>
                        <h4 class="text-secondary">Turnos</h4>
                    </div>
                </div>
                <div class="col-3 text-center p-2">
                    <div class="alert alert-secondary" role="alert">
                        <h2 class="text-secondary">{{ shipments }}</h2>
                        <h4 class="text-secondary">Servicios</h4>
                    </div>
                </div>
                <div class="col-3 text-center p-2">
                    <div class="alert alert-secondary" role="alert">
                        <h2 class="text-secondary">{{ deliverys }}</h2>
                        <h4 class="text-secondary">Ventanillas</h4>
                    </div>
                </div>
                <div class="col-3 text-center p-2">
                    <div class="alert alert-secondary" role="alert">
                        <h2 class="text-secondary">{{ users }}</h2>
                        <h4 class="text-secondary">Usuarios</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="d-flex justify-content-center align-items-center text-center d-sm-block d-lg-none d-md-none" style="height:100vh;">
    <div>
        <img class="mb-3" src="./assets/img/devices.svg" width="80%" alt="">
        <h2 class="mb-3">Utilice una tableta o una pc para visualizar contenido.</h2>
        <a routerLink="/" class="btn btn-success shadow">Pagina principal</a>
    </div>
</div>