<div class="row justify-content-end without-borders d-none d-lg-flex d-md-flex">

    <app-submenu [page]="'users'"></app-submenu>

    <div class="col-lg-10 col-md-10 col-sm-10 pt-3">

        <div class="container pt-3 text-center" *ngIf="action==='list'">
            <div class="d-flex justify-content-between align-items-center">
                <div class="">
                    <h3>Lista de pacientes</h3>
                </div>
                <div class="col-lg-0 text-start">
                    <button class="btn btn-success mt-1 mr-2" [disabled]="listPatientsInProcess.length===0" (click)="setStatusTurn('call')"><span class="d-none d-lg-block d-md-block"> Llamar siguiente paciente</span></button>
                    <button class="btn btn-primary mt-1" (click)="action='register'"><i class="fa-solid fa-plus d-lg-none d-md-none d-sm-block"></i><span class="d-none d-lg-block d-md-block"><i class="fa-solid fa-plus"></i> Registrar paciente</span></button>
                </div>
            </div>

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button [class]="role!=='user'?'nav-link active':'nav-link'" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-process" type="button" role="tab" aria-controls="nav-process" aria-selected="true">Pacientes en espera</button>
                    <button [class]="role==='user'?'nav-link active':'nav-link'" id="nav-calls-tab" data-bs-toggle="tab" data-bs-target="#nav-calls" type="button" role="tab" aria-controls="nav-calls" aria-selected="false">Pacientes en pantalla</button>
                    <button class="nav-link" id="nav-done-tab" data-bs-toggle="tab" data-bs-target="#nav-done" type="button" role="tab" aria-controls="nav-done" aria-selected="false">Pacientes atendidos</button>
                </div>
            </nav>
            <div class="tab-content pt-3" id="nav-tabContent">
                <div [class]="role!=='user'?'tab-pane fade show active':'tab-pane fade'" id="nav-process" role="tabpanel" aria-labelledby="nav-process-tab">
                    <div *ngIf="!loading" class="bg-light p-3 border shadow table-responsive">
                        <table class="table table-hover table-striped responsive" id="listPatientsInProcess" style="width:100%">
                            <thead class="table-info">
                                <tr>
                                    <th></th>
                                    <th>Identificacion</th>
                                    <th>Nombre</th>
                                    <th>Edad</th>
                                    <th>Telefono</th>
                                    <th>Servicio</th>
                                    <th>Fecha</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let patient of listPatientsInProcess" class="text-start">
                                    <td><i class="fa-solid fa-user mr-2 text-black"></i></td>
                                    <td>{{patient.identification}}</td>
                                    <td>{{patient.name}}</td>
                                    <td>{{patient.age}}</td>
                                    <td>{{patient.phone}}</td>
                                    <td>{{patient.service}}</td>
                                    <td>{{patient.created_at | date:'dd/MM/yyyy'}}</td>
                                    <td>
                                        <button class="btn btn-success mr-2" (click)="setStatusTurnId(patient.id, 'call')">Llamar</button>
                                        <button class="btn btn-danger" (click)="delete(patient.id)"><i class="fa-solid fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div [class]="role==='user'?'tab-pane fade show active':'tab-pane fade'" id="nav-calls" role="tabpanel" aria-labelledby="nav-calls-tab">
                    <div *ngIf="!loading" class="bg-light p-3 border shadow table-responsive">
                        <table class="table table-hover table-striped responsive" id="listPatientsCalls" style="width:100%">
                            <thead class="table-success">
                                <tr>
                                    <th></th>
                                    <th>Identificacion</th>
                                    <th>Nombre</th>
                                    <th>Edad</th>
                                    <th>Telefono</th>
                                    <th>Servicio</th>
                                    <th>Fecha</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let patient of listPatientsCalls" class="text-start">
                                    <td><i class="fa-solid fa-user mr-2 text-black"></i></td>
                                    <td>{{patient.identification}}</td>
                                    <td>{{patient.name}}</td>
                                    <td>{{patient.age}}</td>
                                    <td>{{patient.phone}}</td>
                                    <td>{{patient.service}}</td>
                                    <td>{{patient.created_at | date:'dd/MM/yyyy'}}</td>
                                    <td>
                                        <button *ngIf="role=='admin'" class="btn btn-secondary mr-2" (click)="setStatusTurnId(patient.id, 'process')">Cola</button>
                                        <button *ngIf="role=='user'" class="btn btn-success mr-2" (click)="patientjson=patient;setStatusTurnId(patient.id, 'done')" data-bs-toggle="modal" data-bs-target="#ModalPatient">Atender</button>
                                        <!-- <button *ngIf="role=='user'" class="btn btn-success mr-2" (click)="setStatusTurnId(patient.id, 'done')" data-bs-toggle="modal" data-bs-target="#ModalPatient">Atender</button> -->
                                        <button class="btn btn-danger" (click)="delete(patient.id)"><i class="fa-solid fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-done" role="tabpanel" aria-labelledby="nav-done-tab">
                    <div *ngIf="!loading" class="bg-light p-3 border shadow table-responsive">
                        <table class="table table-hover table-striped responsive" id="listPatientsDone" style="width:100%">
                            <thead class="table-dark">
                                <tr>
                                    <th></th>
                                    <th>Identificacion</th>
                                    <th>Nombre</th>
                                    <th>Edad</th>
                                    <th>Telefono</th>
                                    <th>Servicio</th>
                                    <th>Fecha</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let patient of listPatientsDone" class="text-start">
                                    <td><i class="fa-solid fa-user mr-2 text-black"></i></td>
                                    <td>{{patient.identification}}</td>
                                    <td>{{patient.name}}</td>
                                    <td>{{patient.age}}</td>
                                    <td>{{patient.phone}}</td>
                                    <td>{{patient.service}}</td>
                                    <td>{{patient.created_at | date:'dd/MM/yyyy'}}</td>
                                    <td>
                                        <button type="button" class="btn btn-secondary" (click)="PrintTurn(patient)">Imprimir</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="pt-5" *ngIf="loading">
                <h3>Cargando</h3>
                <div class="spinner-border pt-2" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

        </div>

        <div class="container p-3" *ngIf="action==='register'">

            <div class="d-flex justify-content-between align-items-center">
                <div class="">
                    <h3>Registro de paciente</h3>
                </div>
                <div class="col-lg-0 text-start">
                    <p class="btn btn-secondary mt-1" (click)="action='list';reloadDataTable()"><span><i class="fa-solid fa-arrow-left"></i> Ver lista de pacientes</span></p>
                </div>
            </div>

            <div class="row justify-content-around allscreen">

                <div class="col-lg-5 col-md-5 col-sm-10 text-center">
                    <img src="../../../assets/img/add_documents.svg" alt="" width="60%">
                    <h2></h2>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 shadow text-center border-radio pt-3">
                    <div class="alert alert-success" role="alert" *ngIf="result === 'ok'">
                        Registro completado.
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="result === 'fail'">
                        No se pudo completar su registro.
                    </div>
                    <h5>Información general</h5>
                    <input type="text" [(ngModel)]="identification" class="form-control shadow mt-3" maxLength="11" placeholder="Identificacion">
                    <input type="text" [(ngModel)]="name" class="form-control shadow mt-3" maxLength="50" placeholder="Nombre">
                    <div class="row">
                        <div class="col-8">
                            <input type="text" [(ngModel)]="phone" class="form-control shadow mt-3" maxLength="11" placeholder="Telefono">
                        </div>
                        <div class="col-4">
                            <input type="text" [(ngModel)]="age" class="form-control shadow mt-3" maxLength="11" placeholder="Edad">
                        </div>
                    </div>
                    <textarea [(ngModel)]="address" class="form-control mt-3" id="" cols="30" rows="3" placeholder="Direccion"></textarea>
                    <select class="form-control shadow mt-3" [(ngModel)]="service">
                        <option selected value="null">Selecione un servicio</option>
                        <option *ngFor="let service of listServices" value="{{ service.name }}">{{ service.name }}</option>
                    </select>
                    <button *ngIf="!loading" [disabled]="name==='' || identification===''" class="btn btn-success btn-block btn-lg mt-3 mb-3 shadow" (click)="save()">
                        Registrar
                    </button>
                    <button *ngIf="loading" class="btn btn-success btn-block btn-lg mt-3 mb-3 shadow" (click)="save()">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Registrando...
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>

<button class="btn btn-danger" (click)="callPatient('call_turn')" style="cursor: pointer;position:absolute;z-index:1;bottom:10px;right:10px;">
    <img src="../../../assets/img/sound.png" width="60px" alt=""><b>Llamar paciente</b> 
</button>

<!-- Modal of patient -->
<div *ngIf="patientjson != []" class="modal fade" id="ModalPatient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h3 class="modal-title text-white" id="exampleModalLabel"><b>Paciente en atención</b></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6">
                        <div class="container shadow bg-dark text-white rounded">
                            <b for="">Identificacion:</b>
                            <p>{{ patientjson.identification }}</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="container shadow bg-dark text-white rounded">
                            <b for="">Nombre:</b>
                            <p>{{ patientjson.name }}</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="container shadow bg-dark text-white rounded">
                            <b for="">Edad:</b>
                            <p>{{ patientjson.age }}</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="container shadow bg-dark text-white rounded">
                            <b for="">Servicio:</b>
                            <p>{{ patientjson.service }}</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="container shadow bg-dark text-white rounded">
                            <b for="">Fecha:</b>
                            <p>{{patientjson.created_at | date:'dd/MM/yyyy'}}</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-success" data-bs-dismiss="modal" (click)="PrintTurn(patientjson)">Completar</button>
                <button type="button " class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center text-center d-sm-block d-lg-none d-md-none" style="height:100vh;">
    <div>
        <img class="mb-3" src="../../../assets/img/devices.svg" width="80%" alt="">
        <h2 class="mb-3">Utilice una tableta o una pc para visualizar contenido.</h2>
        <a routerLink="/" class="btn btn-success shadow">Pagina principal</a>
    </div>
</div>