.fc {
    padding: 10px;
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    height: 100vh;
    /* background: url('../../../assets/img/bg.webp'); */
    /* background: #050a30; */
    background: white;
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.border-radio {
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, 0.2); */
}