<div class="row justify-content-end without-borders d-none d-lg-flex d-md-flex">

    <app-submenu [page]="'services'"></app-submenu>

    <div class="col-lg-10 col-md-10 col-sm-10">
        <div class="container pt-2">
            <h3>Turnos</h3>
            <hr>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="container p-3 shadow rounded bg-secondary">
                        <h3 class="text-white">Solicitar turno</h3>
                        <div class="alert alert-success shadow text-center" *ngFor="let service of listServices" role="alert" style="cursor: pointer;">
                            <h3>{{ service.name }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="container p-3 shadow rounded">
                        <h5>Lista</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="d-flex justify-content-center align-items-center text-center d-sm-block d-lg-none d-md-none" style="height:100vh;">
    <div>
        <img class="mb-3" src="../../../assets/img/devices.svg" width="80%" alt="">
        <h2 class="mb-3">Utilice una tableta o una pc para visualizar contenido.</h2>
        <a routerLink="/" class="btn btn-success shadow">Pagina principal</a>
    </div>
</div>