<div class="row justify-content-end without-borders d-none d-lg-flex d-md-flex">

    <app-submenu [page]="'services'"></app-submenu>

    <div class="col-lg-10 col-md-10 col-sm-10">
        <div class="container pt-2">
            <h3>Turnos</h3>
            <hr>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="container p-3 shadow rounded" style="background-color:#050a30;">

                        <h3 class="text-white mb-4">Nuevo turno</h3>

                        <div [class]="'alert shadow text-center alert-'+service.color" *ngFor="let service of listServices" role="alert" style="cursor: pointer;" (click)="serviceName=service.name;code=service.code;save()">
                            <h3>{{ service.name }}</h3>
                        </div>

                        <div class="alert" *ngIf="listServices.length<=0">
                            <h4 class="text-secondary">Sin servicios</h4>
                        </div>

                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="container p-3 shadow rounded">
                        <h5 class="text-dark mb-2">Lista</h5>

                        <div *ngFor="let turn of listTurns">
                            <div *ngIf="turn.status!='cancel'" [class]="'alert shadow bg-'+returnColor(turn.status)" data-bs-toggle="modal" data-bs-target="#wathTurn" role="alert" (click)="selectTurn=turn.id;turnName=turn.code+'-0'+turn.id" style="cursor: pointer;">
                                <div class="row">
                                    <div class="col-4 text-center">
                                        <h4 class="text-white"><b>Turno:</b><br>{{ turn.code }}-0{{ turn.id }}</h4>
                                    </div>
                                    <div class="col-4 text-center">
                                        <h4 class="text-white"><b>Puesto:</b><br>{{ turn.window }}</h4>
                                    </div>
                                    <div class="col-4 text-center">
                                        <h4 class="text-white"><b>Hora:</b><br>{{ turn.created_at | date:'shortTime' }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="alert" *ngIf="listTurns.length<=0">
                            <h4 class="text-secondary">Sin turnos</h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal of turn -->
        <div class="modal fade" id="wathTurn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title text-danger" id="exampleModalLabel">TURNO: <b>{{turnName}}</b></h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-around">
                            <div class="col-4">
                                <div class="container pt-2 pb-2 text-center text-white shadow rounded bg-dark" style="cursor:pointer;" (click)="setStatusTurn('Llamando turno','call')">
                                    <img src="../../../assets/img/speaker.png" width="50px" alt=""><br>
                                    <b>Llamar</b>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="container pt-2 pb-2 text-center text-white shadow rounded bg-dark" data-bs-dismiss="modal" style="cursor:pointer;" (click)="setStatusTurn('Puesto en espera','wait')">
                                    <img src="../../../assets/img/wait.png" width="50px" alt=""><br>
                                    <b>Posponer</b>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="container pt-2 pb-2 text-center text-white shadow rounded bg-dark" data-bs-dismiss="modal" style="cursor:pointer;" (click)="setStatusTurn('Turno cancelado','cancel')">
                                    <img src="../../../assets/img/delete_ticket.png" width="50px" alt=""><br>
                                    <b>Cancelar</b>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h5>Trasladar al puesto -></h5>
                        <hr>
                        <!-- <div class="container d-flex"> -->
                        <div *ngFor="let window of listWindows" (click)="moveTurn(window)" data-bs-dismiss="modal" style="float: left;">
                            <div class="btn btn-success m-1 p-1 shadow "><b>Puesto <br> {{ window }}</b></div>
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="modal-footer ">
                        <button type="button " class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="d-flex justify-content-center align-items-center text-center d-sm-block d-lg-none d-md-none " style="height:100vh; ">
    <div>
        <img class="mb-3 " src="../../../assets/img/devices.svg " width="80% " alt=" ">
        <h2 class="mb-3 ">Utilice una tableta o una pc para visualizar contenido.</h2>
        <a routerLink="/ " class="btn btn-success shadow ">Pagina principal</a>
    </div>
</div>