<!-- Modal of turn -->
<div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-dark" id="exampleModalLabel"><b>Cambiar contraseña</b></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- <input type="text" [(ngModel)]="password" class="form-control shadow" maxLength="11" placeholder="Contraseña anterior"> -->
                <label for="">Digite su nueva contraseña</label>
                <input type="password" [(ngModel)]="password" class="form-control shadow mt-2" maxLength="11" placeholder="Escribe aqui">

            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-success" data-bs-dismiss="modal" (click)="save()" [disabled]="password===''">Guardar</button>
                <button type="button " class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>